
.programmes {
	text-align: left;

	H3 {
		margin: 16px 0 0 0;
	}
	P {
		font-family: 'Arial Narrow', Arial, sans-serif;
		font-size: 14px;
		line-height: 16px;
		background-color: $cGrey;
		color: $cGreyMiddle80;
		margin: 4px 0;
		padding: 4px 4px;
		overflow: hidden;
	}


	A {
		color: $cGreyMiddle80;
		background-color: $cGreyMiddle10;
		padding: 0px 4px;
		&:hover,
		&:active {
			color: #000000;
		}
	}

	.filtered {
		margin: 1px 0 2px;
		height: 1px;
		padding-top: 0;
		padding-bottom: 0;

		A:link, A:visited, A:hover, A:active {
			background-color: transparent !important;
		}
	}
}



.posting-content .toggler {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 5px 0;
	padding: 3px 4px 2px;
	border-radius: 3px;
	background: $cGreyMiddle25;
	overflow: hidden;

	LI {
		font-size: 12px;
		line-height: 1;
		color: mix(#000000, $cGreyMiddle25, 40%);
	}
	SELECT {
		width: 200px;
		color: $cMaxDark;
		background-color: mix($cGrey, $cGreyMiddle25, 66%);
		height: 24px;
		border: 0;
		border-radius: 0;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	LABEL {
		display: block;
		margin: 0 auto;
	}
	INPUT[type=radio] {
		display: block;
		margin: 0 auto;
	}

}
@media only screen and (max-width: $breakS) {
	.posting-content .toggler {
		display: block;
		LI {
			display: block;
			+ LI {
				margin-top: 10px;
			}
		}
		LABEL {
			text-align: left;
		}
	}
}
@media only screen and (min-width: $breakS + 1) and (max-width: $breakL - 1) {
	.posting-content .toggler {
		display: block;
		LI {
			display: block;
			+ LI {
				margin-top: 10px;
			}
		}
		LABEL {
			text-align: left;
		}
	}
}
@media only screen and (min-width: $breakL) {
	.posting-content .toggler {
		LI {
			float: left;
			+ LI {
				margin-left: 10px;
			}
		}
		LABEL {
			text-align: center;
		}
	}
}


.exoten {
	// zoom: 1;
	// background-color: orange !important;
}


