/**
 * Wrapper for comments
 */
.o-box-comments {
	@include clearfix();
	margin: 64px 0 16px 0;
}


/**
 * Text box for descriptions
 */
.m-comments-description {
	@include clearfix();
	width: 50%;

	@include breakpoint(medium-screens) {
		width: 100%;
	}

	padding: 8px;
	font-size: 12px;
	color: $cGreyMiddle;
	background-color: $cGrey;

	H3 {
		float: left;
		margin: 0;
		padding: 0;
		width: 92px;
		@include fontFamily(sansserif);
		font-weight: normal;

		STRONG {
			font-size: 24px;
			@include fontFamily(headline);
			font-weight: normal;
		}
	}
	P {
		margin: 0;
		padding: 0 0 0 4px;
		line-height: 100%;
		float: right;

		A {
			color: #9999aa;
		}

		A STRONG,
		STRONG A,
		STRONG {
			color: $cGreyMiddle80;
		}
	}

}
.m-comments-description-nocomments {
	float: right;
	width: 50%;
	margin: 0 0 8px 16px;

	@include breakpoint(medium-screens) {
		width: 100%;
		margin: 0;
	}

	.wrapper {
		padding: 8px;
		font-size: 12px;
		color: $cGrey;
		background-color: $cBlack;
	}
	P {
		margin: 0.5em 0;
	}
	OL {
		margin: 8px 0 0;
		padding-left: 1.1em;
	}
	A,
	STRONG {
		color: $cMaxLight;
	}
}
.a-comments-description-title {
	margin: 0 0 8px;
}


.m-comments {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;

}
.m-comment-meta {
	float: left;
	margin: 0 16px 4px 0;
	padding-left: 0;
	background-color: $cGrey;
}

.dogfood .m-comment-meta {
	background-color: $cOrange;
}


.m-comment {
	@include clearfix();
	margin: 0.5em 0 2em 0;
}

.m-comment-date {
	display: block;
	margin: 0;
	padding: 2px 0 0 8px;
	width: 136px;
	font-size: 11px;
	line-height: 1;
	text-align: left;

	A {
		display: block;
		color: $cBlack;
		padding: 1px 4px 2px 0;
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		&:hover {
			text-decoration: underline;
			color: $cMaxDark;
		}
	}
}

.m-comments .dogfood .m-comment-date {
	color: #888892;

	A { color: #888892; }

	A:hover,
	A:active { color: $cMaxDark; }
}


.m-comment-author {
	display: block;
	padding: 2px 0 0 8px;
	font-size: 14px;
	color: $cBlack;
	font-weight: bold;
	A,
	A:hover {
		color: $cMaxDark;
	}
}




.comment-edit-link {
	font-size: 10px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #e2e2f0;
}


.m-comment-text {
	font-size: 13px;
	line-height: 18px;
	text-align: justify;
	color: #444455;

	P {
		margin: 0.66em 0;
		word-wrap: break-word;
	}
	BLOCKQUOTE {
		padding: 4px 16px 4px 13px;
	}
	A:link,
	A:visited {
		color: #444450;
		background-color: #e2e2f0;
		padding: 1px 4px;
	}

	A:hover,
	A:active {
		background-color: $cMaxLight;
		color: $cBlack;
	}
}



#trackbacks {
	float: right;
	background-color: #eef2e6; // #e0ff00;
}



.m-comments LI P {
	padding: 0;
}






/**
 * Comments Form
 */

.box-comment-form {
	padding: 6px 8px 8px 8px;
	border-radius: 8px;
	background-color: $cGrey;

	H4 {
		color: #808089;
		border-bottom: 0 solid #eeeeee;
		margin: 0 0 0.66em 0;
		padding: 0;
		font-size: 10px;

		&:hover {
			color: #404049;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.form-description-switcher { cursor: pointer; }
}

.form-headline {
	margin: 0 0 0.66em 0;
	padding: 0;
	color: $cMaxLight;
	border-bottom: 0 solid #eeeeee;
	font-size: 20px;
}


.form-description {
	margin: 0;
	padding: 0;
	font-size: 10px;
	line-height: 13px;
	text-align: justify;
	color: #333333;

	.column {
		float: left;
		width: 46%;
		margin: 0;
		padding: 0;
	}
	.column + .column {
		margin: 0 0 0 4%;
	}

	P {
		margin: 0 0 1em 0;
	}
}
// @end


.form-element-row {
	position: relative;
	margin: 4px 0;

	LABEL {
		position: absolute;
		left: 0;
		top: 0;
		padding: 6px 6px;
		z-index: 1;
		font-size: 14px;
		line-height: 1;
		color: #999999;
	}

	.form-text {
		width: 96%;
		padding: 2px 4px;
		font-size: 14px;
		line-height: 1;
		border: 2px solid #cccccc;
		border-radius: 4px;
	}
}


#commentform #comment-text TEXTAREA {
	width: 96%; // 466px = 488px - 2*2px - 2*4px - 2*8px;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	@include fontFamily(sansserif);
	font-size: 13px;
	line-height: 18px;
}

#commentform .focus-switch {
	background-color: #eeeef2;
	border: 2px solid #ccccd2;
}
#commentform .focus .focus-switch {
	background-color: $cMaxLight;
	border: 2px solid #666672;
}
#commentform .focus LABEL,
#commentform .hastext LABEL {
	opacity:  0;
	visibility: hidden;
}
.button {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 8px 10px 10px 10px;
	background: $cBlack url('/_img/button-bg-alpha.png') repeat-x;
	border: 2px solid #999999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 0 5px #999999;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 0 1px 1px #666666;
	line-height: 1;
	text-decoration: none;
	color: $cGreen;
	cursor: pointer;
}
.button:hover {
	background-color: #7bc818;
	background-image: url('/_img/button-bg-alpha-hover.png');
	background-position: bottom;
	color: $cMaxLight;
}


